* {
  margin: 0;
  padding: 10px; 
}

.test-space {
  border: 4px #5441E1 solid;
  border-radius: 10px;
  height: 550px;
  margin: 30px;
  display: flex;
  justify-content: center;
}

img {
  display: block;

}

