* {
  margin: 0;
  padding: 10px; 
}

.test-space {
  border: 4px #5441E1 solid;
  border-radius: 10px;
  height: 550px;
  margin: 30px;
  display: flex;
  justify-content: center;
}

.popup-overlay {
  background: rgba(255, 255, 255, 0.879);
  border-color: #5441E1;
}

